/* Font declarations */
$app-font-family-title: 'Roboto Condensed Regular';
$app-font-family-subtitle: 'Roboto Condensed Light';
$app-font-family: 'Roboto Regular';

/* Color declarations */
$app-background-color: #fafafa;
$app-background-color-white: #ffffff;
$app-background-color-modal: #b6cbebb3;
$app-font-color: #333333;
$app-font-color-white: #ffffff;
$app-font-color-faded: #808080;
$app-font-color-placeholder: #757575;
$app-border-color: #f0f0f0;
$app-outline-color: #006dea40;

$app-button-color-primary: #333333;
$app-button-color-primary-hover: #444444;
$app-button-color-primary-active: #222222;

$app-button-color-alternative: #006dea;
$app-button-color-alternative-hover: #2781e7;
$app-button-color-alternative-active: #015dc7;

$app-modal-button-primary: #efefef;
$app-modal-button-primary-active: #015dc7;
